.input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.bt11 {
    background-color: #F4BB4A;
    border: none;
    padding: 0px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.bt22 {
    background-color: #D9D9D9;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

